
.white{
    background-color: white;
    border: black;
}


.black{
    background-color: green;
    border: black;
}

.board{
    width: 300px;
    height: 300px;
}

table {
    border-collapse: collapse;
    table-layout:fixed;
    overflow:hidden;

}

tr, td {
    table-layout:fixed;
    overflow:hidden;
    width:37px;
    height:37px;
    /*border: 1px solid black;*/
}

#outer_box{
    border: 1px solid black;
    display: inline-block;
    padding: 1px;
}

.piece_image{
    max-width:37px;
    max-height:37px;
}

.square{
    max-width:37px;
    max-height:37px;
    display: block;
}